<p>Hey There!</p>
<p>
    Congrats!  <b>A comment has been added on Nomster on your place!</b>
    Check it out <%= link_to 'yumster-anug.herokuapp.com', place_url(@place) %>.
</p>

All the best,<br />
Nomster bot